.card {
    width: 20rem;
    margin-bottom: 20px;
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .card-PostDate {
    margin-top: auto;
  }
  
  .btn-pdf {
    margin-top: 10px;
  }
  