header{
    display: flex;
    color: white;
    padding: 10px;
    background-color:#000000;
    flex-direction: row;
    justify-content: space-between;
}
header a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 15px;
    font-weight: 10;
}