.firstmain #body{
    background-image: url(../images/LogoCV2.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    align-items: center;
}



.firstmain header #signinSignup{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
}
.firstmain header #signinSignup a{
    padding: 5px;
}
#welcometext {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .typing-animation {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    font-size: 24px;
    animation: typing 3s steps(30) forwards; 
  }

@media only screen and (min-width: 1200px) {
    #welcometext{
        text-align: center;
        padding-top: 25vh;
    }
    #welcometext h3{
        font-size: 100px;
    }
} 

@media only screen and (min-width: 992px) and (max-width:1199px){
    #welcometext{
        color: white;
        text-align: center;
        padding-top: 24vh;
    }
    #welcometext h3{
        font-size: 86px;
    }
}

@media only screen and (min-width: 768px)  and (max-width:991px) {
    #welcometext{
        text-align: center;
        padding-top: 34vh;
    }
    #welcometext h3{
        font-weight: 300;
        font-size: 64px;
    }
    #codeVISTA{
        margin: 0;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
    #welcometext{
        text-align: center;
        padding-top: 35vh;
    }
    #welcometext h3{
        font-weight: 300;
        font-size: 59px;
    }
    #codeVISTA{
        margin: 0;
    }
}

@media only screen and (max-width: 575px) {
    #welcometext{
        text-align: center;
        padding-top: 35vh;
    }
    #welcometext h3{
        font-weight: 300;
        font-size: 30px;
    }
    #codeVISTA{
        display:flex ;
        align-items: center;
        margin: 0;
    }
}
@media only screen and (max-width: 320px) {
    #welcometext{
        text-align: center;
        padding-top: 35vh;
    }
    #welcometext h3{
        font-weight: 300;
        font-size: 19px;
    }
    #codeVISTA{
        font-size: 12px;
        display:flex ;
        align-items: center;
        margin: 0;
    }
    #DropdownItem1
    {
        font-size: 8px;
    }
    #DropdownItem2{
        font-size: 8px;
    }
    #DropdownItem3{
        font-size: 8px;
    }
    .btn{
        font-size: 8px;
    }
    .firstPAGE{
        font-size: 8px;
    }
}
@media screen and (max-width: 320px) and (orientation: landscape) {
    #welcometext{
        text-align: center;
        padding-top: 30vh;
    }
    #welcometext h3{
        font-weight: 300;
        font-size: 25px;
    }
    #codeVISTA{
        display:flex ;
        align-items: center;
        margin: 0;
    }
} 

@media only screen and (min-width:321px) and (max-width: 768px) and (orientation:landscape){
    #welcometext{
        text-align: center;
        padding-top: 28vh;
    }
    #welcometext h3{
        font-weight: 300;
        font-size: 52px;
    }
    #codeVISTA{
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: 0;
    }
}

@media only screen and (min-width: 769px) and (max-width: 992px)  and (orientation:landscape) {
    #welcometext{
        text-align: center;
        padding-top: 21vh;
    }
    #welcometext h3{
        font-weight: 300;
        font-size: 72px;
    }
    #codeVISTA{
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: 0;
    }
}