@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.SigninMain #SigninContainer{
    margin: auto;
    margin-top: 10vh;
    background-color: black;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 450px;
    max-width: 450px;
    height: auto;
    border-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.SigninMain #SigninContainer #SigninForm{
    background:linear-gradient(#1a1a1a,black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:rgb(0, 0, 0);
    flex-direction: column;
    padding: 0 40px;
    row-gap: 0px;
    height: 100%;
}
.SigninMain #SigninContainer form button{
    background-color: #363636;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 10px 0;
    cursor: pointer;

}
.SigninMain #SigninContainer form h2{
    color: white;
    padding:30px;
    font-weight: 500;
    font-style: sans-serif;
    font-size: 30px;
}
.SigninMain #SigninContainer form #a1{
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.SigninMain #SigninContainer form p{
    color: white;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px;
}
.SigninMain #SigninContainer form p{
    color: white;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px;
}
.SigninMain #SigninContainer form #Signin-Signup{
    display: flex;
    align-items: center;
}
.SigninMain #SigninContainer form #Signin-Signup #a2{
    color: white;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-decoration: none;
    margin: 20px 0;
}
.SigninMain #SigninContainer form input{
    background-color: #363636;
    border: none;
    margin: 8px 0;
    padding: 20px 25px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;

}