@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
.SignupMain .SignupContainer{
    margin: 7vh auto auto auto;
    background-color: black;
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    width: 450px;
    max-width: 450px;
    border-color: #ffffff;
}

.SignupMain .SignupContainer form{
    background:linear-gradient(#1a1a1a,black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:rgb(0, 0, 0);
    flex-direction: column;
    padding: 0 40px;
    row-gap: 0px;
    height: 100%;
}

.SignupContainer p{
    color: white;
    font-size: 14px;
    line-height: 10px;
    letter-spacing: 0.3px;
    margin: 10px 0;
}

.SignupContainer a{
    color: #363636;
    font-size: 14px;
    text-decoration: none;
    margin: 10px;
}

.SignupContainer button{
    background-color: #363636;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 20px 0;
    cursor: pointer;
}

.SignupContainer form h2{
    padding:30px 0 0 0;
    font-style: sans-serif;
    font-size: 30px;
    color: white
}

.container form p{
    color: white;
    padding: 0;
}

.SignupContainer input{
    background-color: #363636;
    border: none;
    margin: 8px 0;
    padding: 20px 25px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;

}
.SignupMain .SignupContainer .SignUp-Signin{
    display: flex;
    align-items: center;
}